services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    working_dir: /var/www
    volumes:
      - ./laravel:/var/www
      - /var/www/vendor
    networks:
      - app_network
    depends_on:
      mysql:
        condition: service_healthy
    command: sh -c "php artisan migrate --seed && php-fpm"

  nginx:
    image: nginx:alpine
    ports:
      - "8087:80"
    volumes:
      - ./laravel:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    env_file:
      - ./.env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge
